.main_container {
  margin-top: 10vh;
  height: 90vh;
  width: 100%;
  padding: 1rem;

  position: relative;
  z-index: 1;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main_container button {
  border: none;
  color: white;
  padding: 0.7rem 1.3rem;
  font-size: 0.8rem;
}

/* Left Main */
.left_main {
  height: 75%;
  max-width: 60%;
  padding: 0 2rem;

  font-family: "Roboto", sans-serif;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left_main h1 {
  font-weight: 700;
  font-size: 4rem;
}
.left_main h4 {
  font-weight: 300;
  line-height: 1.6rem;
  margin: 0.3rem 0;
  max-width: 90%;
}

.social_icons {
  position: absolute;
  bottom: 5vh;
  left: 6.5%;
}

.arrows {
  justify-self: flex-end;
  margin-top: 1.5rem;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.arrows div {
  padding: 0;
  margin: 0;
  height: min-content;
  cursor: pointer;
  margin-right: 1rem;
}
.arrows svg:hover path {
  fill: #8594d8;
}

/* Right Main */
.right_main {
  height: 65%;
  max-width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_main img {
  object-fit: cover;
  object-position: left;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0px 10px 15px black;
}

.circle {
  position: fixed;
  top: -21vw;
  left: 50vw;
  right: 0;
  margin: auto;
  height: 70vw;
  width: 70vw;
  border: 40px solid #424f8a;
  border-radius: 50%;
  z-index: 0;
  transition: all 0.75s ease-in-out;
}

@media (max-width: 768px) {
  .main_container {
    height: fit-content;
    min-height: 80vh;
    flex-direction: column;
  }

  .left_main {
    padding: 0rem;
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .left_main h1 {
    font-size: 3rem;
  }
  .left_main h4 {
    max-width: 100%;
  }
  .arrows {
    width: 100%;
  }

  .arrows * {
    margin: 0 !important;
  }

  .social_icons {
    bottom: 0;
    left: 4%;
  }

  .right_main {
    display: none;
  }
}
