.main_container {
  margin-top: 10vh;
  height: 85vh;
  display: flex;
  position: relative;
  overflow-x: hidden;
}

/* ASIDE */
.aside {
  position: absolute;
  left: 7%;
  height: 100%;
  max-width: 5%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  z-index: 1;
}

.slider {
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 20px;
}
.slider_num {
  position: absolute;
  left: 0;
}
.slider_bar {
  width: 5px;
  background: #465468;
  position: relative;
  border-radius: 5px;
}
.slider_thumb {
  border-radius: 5px;
  height: 30px;
  width: 5px;
  background: white;
  position: absolute;
  left: 0;
}

/* ALBUM SECTION */
.album_container {
  height: 100%;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.album_text {
  height: 30%;
  width: 100%;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.album_text h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.7rem;
  margin: auto;
  padding-bottom: 1rem;
}
.album_text p {
  width: 70%;
  font-weight: 200;
  line-height: 1.5rem;
  font-size: 1rem;
  margin: auto;
}

.album_controller {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}

.album_controller div:hover svg path {
  fill: #424f8a;
}

/* .album_fan * {
  height: 100%;
} */
.album_fan {
  height: 100%;
  max-height: 800px;
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.album_fan img {
  max-height: 100%;
  max-width: 100%;

  position: absolute;
  border: 5px solid white;

  transition: all 0.2s ease-in-out;

  -webkit-animation: pop-in 0.2s;
  -moz-animation: pop-in 0.2s;
  -ms-animation: pop-in 0.2s;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.album_fan:hover img {
  filter: brightness(0.75);
}
.album_fan:hover > img:hover {
  box-shadow: 0 0 50px black;
  filter: brightness(1);
  cursor: pointer;
}
/* Animation for images */
@-webkit-keyframes pop-in {
  0% {
    transform: scale(0.7) rotate(0);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(-15deg);
    opacity: 1;
  }
}
@-moz-keyframes pop-in {
  0% {
    transform: scale(0.7) rotate(0);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(-15deg);
    opacity: 1;
  }
}
@keyframes pop-in {
  0% {
    transform: scale(0.7) rotate(0);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotate(-15deg);
    opacity: 1;
  }
}

.circle {
  position: fixed;
  top: 50vh;
  left: 0;
  right: 0;
  margin: auto;
  height: 100vw;
  width: 98vw;
  border: 40px solid #424f8a;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .main_container {
    flex-direction: column-reverse;
    width: 100%;
    height: 90vh;
    margin-top: 5vh;
  }

  /* Aside */
  .aside {
    left: 0;
    right: 0;
    height: min-content;
    max-width: 100%;
    flex: 0;
    align-items: center;
  }

  /* Slider */
  .slider {
    justify-content: center;
    max-height: 5px;
    transform: rotate(-90deg) translateY(-105px);
    transform-origin: center;
  }
  .slider_num {
    display: none;
  }
  .slider_thumb {
    border-radius: 5px;
    height: 30px;
    width: 5px;
    background: white;
    position: absolute;
    left: 0;
  }

  /* Album Container */
  .album_container {
    height: 85%;
    width: 95%;
  }

  .album_text {
    max-height: 100%;
    width: 100%;
  }
  .album_text h1 {
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }
  .album_text p {
    width: 95%;
    line-height: 1.2rem;
    font-size: 1.15rem;
  }

  .album_controller {
    align-items: center;
    margin-bottom: 0.5rem;
  }
  .album_controller svg {
    height: 20px;
    width: 30px;
  }

  .album_fan {
    margin: 0 1rem;
    max-height: 80%;
  }
  .circle {
    width: 150vw;
    height: 150vw;
    left: -25vw;
    top: 45vh;
  }
} ;
