.main_container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10vh;
}
.display_container {
  height: 80%;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  flex-wrap: wrap-reverse;
}

/* Single Display Styles */
.image_info {
  width: 30%;
  min-width: 300px;
  min-height: 30%;
  margin-left: 5%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.image_info h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
}
.image_info p {
  font-style: italic;
  font-weight: 200;
  line-height: 1.8rem;
}
.image_controller_single {
  height: 100%;
  width: 60%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image_controller_single a {
  width: fit-content;
  width: 80%;
  height: 100%;
  border: 1px solid red;

  display: flex;
  justify-content: center;
  align-items: center;
}
.image_single {
  max-width: 100%;
  width: auto;
  max-height: 100%;

  border: 7px solid rgb(255, 255, 255);
  box-shadow: 0 0 10px rgb(60, 60, 60);

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.image_single:hover {
  transform: scale(1.01);
}
.image_controller_single div:hover svg path {
  fill: #f9a620;
}

/* Grid Display Styles */
.image_controller_grid {
  height: 100%;
  width: 100%;
  overflow-y: scroll;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
.image_controller_grid a {
  max-height: 100%;
  text-align: center;
  margin: 1rem;
}
.image_controller_grid h1 {
  height: 10%;
}
.image_grid {
  min-width: 250px;
  max-width: 300px;
  max-height: 90%;

  margin: 0 0 0.5rem;

  border: 7px solid rgb(255, 255, 255);
  box-shadow: 10px 20px 50px rgb(0, 0, 0);
  box-shadow: 0 0 10px rgb(60, 60, 60);

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  flex: 1;
  display: inline-flex;
  flex-direction: column;
}
.image_grid:hover {
  transform: scale(1.01);
}

.mouse_icon path:last-child {
  position: relative;
  animation: oscelate 1.5s infinite;
  -webkit-animation: oscelate 1.5s infinite;
  -moz-animation: oscelate 1.5s infinite;
  -ms-animation: oscelate 1.5s infinite;
}
@-webkit-keyframes oscelate {
  0% {
    transform: translate(-123.781px, -93px);
  }
  50% {
    transform: translate(-123.781px, -88px);
  }
  100% {
    transform: translate(-123.781px, -93px);
  }
}
@-moz-keyframes oscelate {
  0% {
    transform: translate(-123.781px, -93px);
  }
  50% {
    transform: translate(-123.781px, -88px);
  }
  100% {
    transform: translate(-123.781px, -93px);
  }
}
@keyframes oscelate {
  0% {
    transform: translate(-123.781px, -93px);
  }
  50% {
    transform: translate(-123.781px, -75px);
  }
  100% {
    transform: translate(-123.781px, -93px);
  }
}

/* Aside */
.aside {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
  min-height: 10%;
}
.left_aside {
  display: flex;
  align-items: center;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.back_btn {
  margin-right: 2rem;
  font-weight: 100;
}
.view_switch {
  font-weight: 200;
  color: #707070;
}
.view_switch span {
  margin-right: 1rem;
  cursor: pointer;
}
.highlight_text {
  color: white;
}
/* Slider */
.slider {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-left: 3rem;
}
.slider_num {
  position: absolute;
  bottom: 10px;
}
.slider_bar {
  height: 5px;
  background: #465468;
  position: relative;
  border-radius: 5px;
}
.slider_thumb {
  border-radius: 5px;
  height: 5px;
  width: 30px;
  background: white;
  position: absolute;
  left: 0;
}

.circle_single {
  position: fixed;
  top: -21vw;
  left: 50vw;
  right: 0;
  margin: auto;
  height: 70vw;
  width: 70vw;
  border: 40px solid #f9a620;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.75s ease-in-out;
}
.circle_grid {
  position: fixed;
  top: 60vh;
  left: -30vw;
  right: 0;
  margin: auto;
  height: 160vw;
  width: 160vw;
  border: 40px solid #f9a620;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.75s ease-in-out;
}

@media screen and (max-width: 768px) {
  .slider {
    display: none;
  }
  .image_info {
    width: 95%;
    min-width: unset;
    margin-left: 0%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .image_controller_single {
    height: 50%;
    width: 98%;
  }
  .image_controller_single svg {
    height: 20px;
    width: 30px;
  }
  .image_single {
    border: 5px solid rgb(255, 255, 255);
  }
  .image_single:hover,
  .image_grid:hover {
    transform: none;
  }
}
