.button {
  border: none;
  padding: 0.7rem 1.3rem;
  margin-right: 10px;
  font-size: 1rem;
  font-weight: 300;
}
.button:hover {
  box-shadow: 0px 5px 10px #161b20;
}

.orange {
  color: #ffffff;
  background: #5161aa;
  /* border: 1px solid rgb(50, 58, 85); */
}
.blue {
  color: white;
  background: #516077;
}
