.button {
  border: none;
  padding: 0.7rem 1.3rem;
  margin-right: 10px;
  font-size: 1rem;
  font-weight: 300;
}
.button:hover {
  box-shadow: 0px 5px 10px #161b20;
}

.orange {
  color: #2a323d;
  background: #f9a620;
  border: 1px solid #2a323d;
}
.blue {
  color: white;
  background: #3a4555;
}
