.form {
  max-width: 40%;
  margin: 10vh auto 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome_text {
  text-align: center;
}
.welcome_text h1 {
  font-weight: 700;
  font-size: 3rem;
}
.welcome_text h4 {
  font-weight: 300;
  line-height: 1.5rem;
}

.form_group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form_group label {
  margin: 1rem 0 0.2rem;
}

.form_group textarea {
  border-radius: 2px;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: rgb(67, 67, 67);
  font-family: inherit;

  resize: none;
  overflow: auto;
}

.form_group input {
  border: none;
  border-radius: 2px;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: rgb(67, 67, 67);
  font-family: inherit;
}

.button {
  width: fit-content;
  border: none;
  padding: 0.7rem 1.3rem;
  margin: 1rem auto;
  color: white;
  font-size: 1rem;
  font-weight: 100;
  background: #f9a620;
  border: 1px solid #2a323d;
}
.button:hover {
  box-shadow: 0px 5px 10px #161b20;
}

.success_text {
  max-width: 400px;
  text-align: center;
  margin: 0.5rem auto;
}

.social_icons {
  width: fit-content;
  position: absolute;
  bottom: 3vh;
  left: 0;
  right: 0;
  margin: auto;
}

.circle {
  position: fixed;
  top: 60vh;
  left: -30vw;
  right: 0;
  margin: auto;
  height: 160vw;
  width: 160vw;
  border: 40px solid #f9a620;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.75s ease-in-out;
}

@media (max-width: 1200px) {
  .form {
    max-width: 70%;
  }
}
@media (max-width: 768px) {
  .form {
    max-width: 95%;
  }
}
