.header {
  padding: 1rem 4rem;
  position: relative;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 998;
  background: transparent;
  position: absolute;
  top: 0;
}

.title {
  line-height: 24px;
  text-align: center;
  max-width: 60%;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth img {
  max-width: 30px;
  border: 1px solid white;
  border-radius: 50%;
}
.auth img:hover {
  background: rgb(66, 66, 66);
}

@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: -105vh;
    width: 100%;
    height: 100vh;
    flex-direction: column-reverse;
    opacity: 0;
    text-align: center;
  }

  .auth {
    width: 100%;
    padding-top: 10vh;
    margin-bottom: -1px;
    background: rgb(40, 40, 40);
  }
  .auth img {
    max-width: 50px;
    border: 2px solid white;
    margin: 0;
  }
  .auth img:hover {
    background: inherit;
  }
}
