.header {
  padding: 1rem 4rem;
  position: relative;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 998;
  background: transparent;
  position: absolute;
  top: 0;
}

.title {
  line-height: 24px;
  text-align: center;
  max-width: 60%;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth img {
  max-width: 30px;
  border: 1px solid white;
  border-radius: 50%;
}
.auth img:hover {
  background: rgb(66, 66, 66);
}

@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }
}
