.main_container {
  margin-top: 10vh;
  height: 90vh;
  width: 100%;

  position: relative;
  z-index: 1;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main_container span {
  color: #f9a720;
}
.main_container button {
  border: none;
  color: white;
  padding: 0.7rem 1.3rem;
  font-size: 0.8rem;
}

/* Left Main */
.left_main {
  width: 40%;
  min-width: 40%;
  height: fit-content;

  line-height: 5rem;
  font-family: "Roboto", sans-serif;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left_main h1 {
  font-weight: 700;
  font-size: 4rem;
}
.left_main h4 {
  font-weight: 300;
  line-height: 1.5rem;
  max-width: 80%;
}

.social_icons {
  position: absolute;
  bottom: 5vh;
  left: 6.5%;
}
/* ABOUT PAGE */
.about_h4 {
  margin: 0.3rem 0;
}
.arrows {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}
.arrows div {
  padding: 0;
  margin: 0;
  height: min-content;
  cursor: pointer;
  margin-right: 1rem;
}
.arrows svg:hover path {
  fill: #f9a71e;
}

/* Right Main */
.right_main {
  overflow: visible;
  height: 95%;
  width: 40%;
  min-width: 57vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.right_main div {
  overflow: visible !important;
  position: absolute;
  /* name, duration, timing function, delay, fill mode */
  -webkit-animation: fadeIn 700ms ease-in-out 2s both;
  animation: fadeIn 700ms ease-in-out 2s both;
}

.right_main div img {
  position: relative !important;
  height: 85.5vh !important;
  width: 57vh !important;
  box-shadow: 0 0 100px black;
}

.circle {
  position: fixed;
  top: -21vw;
  left: 50vw;
  right: 0;
  margin: auto;
  height: 70vw;
  width: 70vw;
  border: 40px solid #f9a620;
  border-radius: 50%;
  z-index: 0;
  transition: all 0.75s ease-in-out;
}

@-webkit-keyframes fadeIn {
  from {
    top: 50px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    top: 50px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .main_container {
    height: fit-content;
    min-height: 80vh;
    flex-direction: column;
  }

  .left_main {
    padding: 1rem;
    width: 100%;
  }

  .left_main h4 {
    max-width: 100%;
  }
  .arrows {
    width: 100%;
  }

  .social_icons {
    bottom: 0;
    left: 4%;
  }

  .right_main {
    display: none;
  }
}
