.main_container {
  height: 85vh;
  margin-top: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.image {
  box-sizing: content-box;

  width: auto;
  max-width: 55%;
  /* height = 100% - (2 x padding) - (2 x border) */
  max-height: calc(100% - 60px - 14px);

  padding: 30px;
  background: rgb(240, 240, 240);

  border: 7px solid rgb(255, 255, 255);
  box-shadow: 10px 20px 50px rgb(0, 0, 0);
  box-shadow: 2px 3px 12px rgb(160, 160, 160) inset, 0 0 20px rgb(60, 60, 60);
}

.product_info {
  max-width: 30%;
  max-height: 100%;
  min-height: 50%;
  overflow-y: scroll;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex: 1;
}

.product_info h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3.5rem;
  letter-spacing: 1px;
}
.product_info p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.3rem;
  font-weight: 300;
}

.image_description {
  line-height: 1.75rem;
  font-size: 1.3rem;
  font-style: italic;
}

.price {
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1px;

  width: min-content;
  font-size: 2rem;
  padding: 1rem 0;
}

.product_info section p {
  padding: 0.5rem 0;
  line-height: 1.3rem;
  font-weight: 200;
}
.order_note {
  font-size: 0.8rem !important;
  font-weight: 100;
}

.toggle_btn {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  background: transparent;
  width: 130px;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.circle {
  position: fixed;
  top: -21vw;
  left: 50vw;
  right: 0;
  margin: auto;
  height: 70vw;
  width: 70vw;
  border: 40px solid #f9a620;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.75s ease-in-out;
}

@media (max-width: 768px) {
  .main_container {
    height: fit-content;
    margin-top: 10vh;
    margin-bottom: 5vh;

    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .image {
    max-width: calc(90% - 60px - 14px);
    max-height: calc(70% - 60px - 14px);
    max-height: unset;
  }

  .product_info {
    flex: 0;
    overflow-y: scroll;
    height: fit-content;
    width: 95%;
    max-width: unset;
  }
  .product_info h3 {
    font-size: 3rem;
  }
  .image_description {
    line-height: 1px;
  }
  .price {
    margin: 0;
    width: fit-content;
  }

  .product_info section p {
    padding: 0.2rem 0;
    line-height: 1.2rem;
  }
} ;
