.main_container {
  height: 85vh;
  margin-top: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.image {
  display: block;
  max-width: 65%;
  max-height: 100%;
  width: auto;
  padding: 35px;
  background: rgb(240, 240, 240);
  border: 7px solid rgb(255, 255, 255);
  box-shadow: 10px 20px 50px rgb(0, 0, 0);
  box-shadow: 2px 3px 12px rgb(160, 160, 160) inset;
}

.product_info {
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 30%;
  flex: 1;
}

.product_info h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3.5rem;
  letter-spacing: 1px;
}
.product_info p {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.3rem;
  font-weight: 300;
}

.image_description {
  line-height: 1.75rem !important;
  font-size: 1.3rem;
  font-style: italic;
}
.price {
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1px;

  width: min-content;
  font-size: 2rem;
  padding: 1rem 0;
}
.order_note {
  font-size: 0.8rem !important;
  font-weight: 100;
}
.toggle {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  background: transparent;
  width: 130px;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_info section p {
  padding: 0.5rem 0;
  line-height: 1.3rem;
  font-weight: 200;
}

.circle {
  position: absolute;
  top: -21vw;
  left: 50vw;
  right: 0;
  margin: auto;
  height: 70vw;
  width: 70vw;
  border: 40px solid #f9a620;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.75s ease-in-out;
}

@media (max-width: 1000px) {
  .main_container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .image {
    max-width: 90%;
  }

  .product_info {
    text-align: center;
    max-width: 95%;
  }
  .image_description {
    text-align: center;
  }
  .price {
    margin: 1rem auto;
  }
  .toggle {
    margin: auto;
    width: 60%;
  }
} ;
